src/client/node_modules
src/server/node_modules
node_modules

package-lock.json

# Husky
.husky/_

# Environment variables (keep .env.production for production reference)
.env
.env.local
.env.*.local
.env.production